.container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.sign-up-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.sign-up-with-google {
  background-color: #4285f4;
  padding: 0 var(--spacing-m) 0 0;
  height: 29px;
}
.sign-up-with-google {
  height: 100%;
}

.sign-up-with-google > *:last-of-type {
  padding: 0 0 0 var(--spacing-xxs);
  font-weight: var(--font-weight-bold);
  vertical-align: middle;
}
