.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  background-color: var(--primary-focus);
  padding-inline: var(--spacing-m);
  padding-block: var(--spacing-m);
}

.navbar > span {
  color: var(--primary-inverse);
}

.container {
  display: flex;
  border-top: 1px solid var(--primary);
}

.contents {
  height: 100vh;
  padding: var(--spacing-xxs);
}

.side-bar {
  flex: 2;
  border-right: 1px solid var(--primary);
}

.contents {
  flex: 8;
}
